In [1]:
import pandas as pd
import numpy as np

In [2]:
df_input = pd.read_csv("stock_returns.csv")
df_input

   year  nvidia_returns  reliance_returns
0  2016          122.14             47.43
1  2017           83.91             12.09
2  2018          -50.03            -13.63
3  2019           82.19             22.42
4  2020          125.84             62.59
5  2021           50.53             33.70
6  2022           48.57             10.26

In [5]:
variance_nvidia = df_input['nvidia_returns'].var()
variance_nvidia

3553.551195238095

In [6]:
variance_reliance = df_input['reliance_returns'].var()
variance_reliance

645.7782000000001

In [7]:
std_nvidia = df_input['nvidia_returns'].std()
std_nvidia

59.61166995847453

In [8]:
std_reliance = df_input['reliance_returns'].std()
std_reliance

25.41216637754444