# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [2]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)
#2. change the settings to display all the columns
#3. check the number of rows and columns
#4. check the top 5 rows
df_input = pd.read_csv('telecom_customer_churn.csv')
pd.set_option('display.max_columns', None)
print("Number of rows and coumns:", df_input.shape)
print(df_input.head())

Number of rows and coumns: (7043, 21)
  customer_id  gender  senior_citizen partner dependents  tenure  \
0  7590-VHVEG  Female               0     Yes         No       1
1  5575-GNVDE    Male               0      No         No      34
2  3668-QPYBK    Male               0      No         No       2
3  7795-CFOCW    Male               0      No         No      45
4  9237-HQITU  Female               0      No         No       2

  phone_service    multiple_lines internet_service online_security  \
0            No  No phone service              DSL              No
1           Yes                No              DSL             Yes
2           Yes                No              DSL             Yes
3            No  No phone service              DSL             Yes
4           Yes                No      Fiber optic              No

  online_backup device_protection tech_support streaming_tv streaming_movies  \
0           Yes                No           No           No               No
1            No               Yes           No           No               No
2           Yes                No           No           No               No
3            No               Yes          Yes           No               No
4            No                No           No           No               No

         contract paperless_billing             payment_method  \
0  Month-to-month               Yes           Electronic check
1        One year                No               Mailed check
2  Month-to-month               Yes               Mailed check
3        One year                No  Bank transfer (automatic)
4  Month-to-month               Yes           Electronic check

   monthly_charges total_charges churn
0            29.85         29.85    No
1            56.95        1889.5    No
2            53.85        108.15   Yes
3            42.30       1840.75    No
4            70.70        151.65   Yes

In [4]:
#display all the column names

df_input.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [5]:
# Check if the dataset contains nulls
df_input.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

In [6]:
#check the datatype of all columns

df_input.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                 object
dtype: object

In [7]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)

df_input['monthly_charges'] = pd.to_numeric(df_input['monthly_charges'], errors='coerce')
df_input['total_charges'] = pd.to_numeric(df_input['total_charges'], errors='coerce')
df_input['tenure'] = pd.to_numeric(df_input['tenure'], errors='coerce')

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [8]:
mean = df_input['monthly_charges'].mean()
median = df_input['monthly_charges'].median()
mode = df_input['monthly_charges'].mode()[0]
print(f"Mean: {mean}, Median: {median}, Mode: {mode}")

Mean: 64.76169246059918, Median: 70.35, Mode: 20.05

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [9]:
df_input['total_charges'].quantile(0.25), df_input['total_charges'].quantile(0.5), df_input['total_charges'].quantile(0.75)

(401.45, 1397.475, 3794.7375)

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [10]:
range_val = df_input['monthly_charges'].max() - df_input['monthly_charges'].min()
range_val

100.5

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [11]:
first_quartile = df_input.loc[df_input['churn'] == "No", ['monthly_charges']].quantile(0.25)

print("First Quartile for Non-Churn Customers:", first_quartile)

First Quartile for Non-Churn Customers: monthly_charges    25.1
Name: 0.25, dtype: float64

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [12]:
third_quartile = df_input.loc[df_input['churn'] == "Yes", ['total_charges']].quantile(0.75)
print("Third Quartile for Churn Customers:", third_quartile)

Third Quartile for Churn Customers: total_charges    2331.3
Name: 0.75, dtype: float64

Q6-  What is the mode of the payment method column for customers who have churned?

In [13]:
mode = df_input.loc[df_input['churn'] == "Yes", 'payment_method'].mode()[0]
print("Mode for Churn Customers:", mode)

Mode for Churn Customers: Electronic check

In [14]:
df_input.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [15]:
# Filter the rows based on the churn status and contract type
filter1_df = df_input.loc[(df_input['churn'] == "Yes") & (df_input['contract'] == 'Month-to-month')]
filter1_df

# Calculate the mean of the total charges column
filter1_df['total_charges'].mean().round(2)

# Print the result
print(f"Mean of total charges for churned customers with month-to-month contract: {filter1_df['total_charges'].mean().round(2)}")

Mean of total charges for churned customers with month-to-month contract: 1164.46

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [20]:
# Filter the rows based on the churn status and contract type

filter2_df = df_input.loc[(df_input['churn'] == "No") & (df_input['contract'] == "Two year")]
filter2_df
# Calculate the median of the tenure column

median = filter2_df['tenure'].median()


# Print the result
print(f"Median of tenure for Non churned customers with Two year contract: {median}")

Median of tenure for Non churned customers with Two year contract: 64.0