In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_input = pd.read_excel('region_wise_sales.xlsx')
df_input.head()

      Month  Year Region  Sales
0   January  2022   APAC  36750
1  February  2022   APAC  36995
2     March  2022   APAC  18579
3     April  2022   APAC  37768
4       May  2022   APAC  23956